*.exe

.docker_build/
bin/
.DS_Store
vendor
.idea/
.vagrant/
*.vdi
**/.DS_Store
.env
configs/config.yml
.database/
api/files
secrets/production
frontend/.vscode

zk-single-kafka-single/
zk-*
cmake-build-*/
*.iws
out/
.idea_modules/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
.local-full-stack
.connectors
